*.pyc
egs/slt_arctic/s1/experiments\
egs/slt_arctic/s1/slt_arctic_demo_data\
egs/slt_arctic/s1/slt_arctic_full_data\
egs/slt_arctic/s1/slt_arctic_demo_data.zip\
egs/slt_arctic/s1/slt_arctic_full_data.zip\
egs/slt_arctic/s1/logs\


